html{
  scroll-behavior: smooth;
  }
main{
    position: relative;
    top: 8vw !important;   
   }
   .container-nav{
       display: none;
   }
   #navbar.transparent{
       background: linear-gradient(90deg, rgba(65, 37, 81, 1) 0%, rgba(119, 28, 90, 1) 100%) !important;
   }
   .bg-gray-100{
       background-color: transparent;
   }

/* .container-nav{
    height: 140vw !important;
} */
.container-head-propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .a-propos p {
    text-align: center;
    width: 80vw;
    margin: auto;
    color: #000000;
    text-decoration: none;
    font-family: "brevia", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .a-propos span {
    color: #FFD400;
  }
  
  .nav-propos {
    display: flex;
    gap: 1vw;
  }
  .nav-propos a {
    color: #000000;
    text-decoration: none;
    font-family: "brevia", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 28px;
    border : 5px solid black;
  }
  .left {
    float: left;
    width: 80%;
    text-align: left;
    padding: 20px;
  }
  
  .right {
    float: right;
    width: 80%;
    text-align: right;
    padding: 20px;
  }
  .desc-propos p {
    color: black;
    font-size: 1.2rem;
    font-family: "brevia", sans-serif;
    font-weight: bold;
  }
  .desc-propos span {
    color: #D90368;
  }
  .left .title h1{
    color: #FFD400;
    text-shadow: 2px 4px 2px #d90368;
    text-transform: normal;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 3.5rem;
    font-family: "brevia", sans-serif;
    font-weight: bold;
}
.right .title h1{
    color: #FFD400;
    text-shadow: 2px 4px 2px #d90368;
    text-transform: normal;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 3.5rem;
    font-family: "brevia", sans-serif;
    font-weight: bold;
}
.objectifs,
.valeurs,
.historiques,
.equipe,
.engagements,
.partenariats {
    padding-top: 100px;
}
.left-desc{
  position: relative;
  left: 5vw;
}
.right-desc{
  position: relative;
  right: 5vw;
}