html{
  scroll-behavior: smooth;
  }
main{
    position: relative;
    top: -48vw !important;   
   }
   .container-nav{
       height: 140vh !important;
   }
   #navbar.transparent{
       background: linear-gradient(90deg, rgba(65, 37, 81, 1) 0%, rgba(119, 28, 90, 1) 100%) !important;
   }
   .bg-gray-100{
       background-color: transparent;
   }

/* .container-nav{
    height: 140vw !important;
} */
.container-head-propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vw;
  }
  
  .a-propos p {
    text-align: center;
    width: 80vw;
    margin: auto;
    color: #FFFFFF;
    text-decoration: none;
    font-family: "brevia", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .a-propos span {
    color: #FFD400;
  }
  
  .nav-propos {
    display: flex;
    gap: 1vw;
    margin-bottom: 20vw;
  }
  
  .nav-propos a {
    position: relative;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    font-family: "brevia", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background-image: linear-gradient(to right, #D90368, #FFD400);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .nav-propos a::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 5px;
    background: linear-gradient(45deg, #d90368, #FFD400);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
  }
  .left {
    float: left;
    width: 80%;
    text-align: left;
    padding: 20px;
  }
  
  .right {
    float: right;
    width: 80%;
    text-align: right;
    padding: 20px;
  }
  .desc-propos p {
    color: black;
    font-size: 1.5rem;
    font-family: "ff-cocon-pro", sans-serif;
    font-weight: lighter;
  }
  .desc-propos span {
    color: #D90368;
  }
  .left .title h1{
    position: relative;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    font-family: "brevia", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    background-image: linear-gradient(to right, #D90368, #FFD400);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.right .title h1{
  position: relative;
  padding: 10px 15px;
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  font-family: "brevia", sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  background-image: linear-gradient(to right, #D90368, #FFD400);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.title img {
  width: 150px;
}
.objectifs,
.valeurs,
.historiques,
.equipe,
.engagements,
.partenariats {
    padding-top: 100px;
}
.left-desc{
  position: relative;
  left: 5vw;
}
.right-desc{
  position: relative;
  right: 5vw;
}
@media  (max-width: 1024px) {
  main{
    top: -82vw !important;
  }
  .nav-propos {
    flex-direction: column;
    text-align: center;
  }
}
@media  (max-width: 768px) {
  #navbar-mobile{
    top: -153vw !important;
  }
  main{
    top: -109vw !important;
  }
  .container-head-propos {
    position: relative;
    top: -35vw;
  }
  .all-propos{
    position: relative;
    top: -40vw;
  }
 
}
@media  (max-width: 425px) {
  .left .title h1, .right .title h1 {
    font-size: 1.5rem;
  }
   .right .title {
    display: flex;
    align-content: center;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
  }
  #navbar-mobile{
    top: -345vw !important;
  }
  .container-nav {
    height: 180vh !important;
  }
  main{
    top: -191vw !important;
  }
  .container-head-propos {
    top: -145vw;
  }
  .all-propos{
    top: -105vw;
  }
}
@media  (max-width: 375px) {
  #navbar-mobile{
    top: -405vw !important;
  }
  main{
    top: -224vw !important;
  }
}