html{
  scroll-behavior: smooth;
  }
main{
    top: 8vw !important;   
    position: relative;
   }
.container-nav{
    display: none;
}
#navbar.transparent{
    background: linear-gradient(90deg, rgba(65, 37, 81, 1) 0%, rgba(119, 28, 90, 1) 100%) !important;
}
.bg-gray-100{
    background-color: transparent;
}
   


  .container-faq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.desc-faq {
    margin-bottom: 20px;
}

a[href="#faq"] {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

  .card {
    width: 80vw;
    background: linear-gradient(to bottom right, #FF6B6B, #FF5252);
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    cursor: pointer;
    margin: 20px auto;
    text-align: center;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #FF4040;
}

.card .description {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s, height 0.3s;
}

.card.clicked .description {
  opacity: 1;
  height: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #00f7ff;
  padding: 50px;
}

h1 {
  margin-top: 0;
}

form {
  width: 100%;
}

.form-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-field .row {
  display: flex;
  gap: 5vw;
}
.e{
  width: 20vw;
}

.form-field .row > div.name {
  width: 60%;
}

.form-field .email {
  width: 60%;
}


.form-field .email,
.form-field .Sujet {
  width: 48%;
  margin-right: auto;
}

.form-field .message {
  width: auto;
}

.form-field .btn {
  text-align: center;
}

.submit {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#status-message {
  text-align: center;
  margin-top: 10px;
}
