#txtarea #description {
    font-family: "ff-cocon-pro", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 25px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.2rem;
}
#container-theme{
    margin-bottom: 15px;
}
#theme_id{
    font-family: "ff-cocon-pro", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 25px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: #757575;
}
#date{
    color: #757575;
<<<<<<< HEAD
}
=======
}
>>>>>>> bde3192f34102e2767ebba76775673c6f93aead2
