body{
    padding: 0;
    margin: 0;
  }
/* page login */
.container-login {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .back-login{
    position: relative;
    left: -20%;
    top: -60vh;
  }
  .flex {
    display: block !important;
  }
  
  .login-page {
    width: 360px;
    margin: auto;
    position: absolute;
    left: 40vw;
    top: -5%;
   
    justify-content: center;
    display: flex;
  }
  .login-form{
    display: flex;
    flex-direction: column;
  }
  .login-form h1{
    font-size: 1.2rem;
    color: #FFFFFF;
    font-family: "ff-cocon-pro", sans-serif;
    text-transform: none;
  }
  .form {
    position: relative;
    z-index: 1;
    padding: 45px 45px 0;

    text-align: center;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  }
  .form input {
    font-family: "ff-cocon-pro", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 25px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.2rem
  }
  .form button {
    font-family: "brevia", sans-serif;
    outline: 0;
    background: #D90368;
    width: 97%;
    border: 0;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .form .register-form {
    display: none;
  }
  
  label {
    position: relative;
  }
  
  label input:focus {
    border-color: #ff4754;
  }
  
  label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    top: 30px;
    transform: translateY(-50%);
    width: 20px;
    transition: all 0.2s;
  }
  
  label .password-icon:hover {
    cursor: pointer;
    color: #ff4754;
  }
  
  label .password-icon .feather-eye-off {
    display: none;
  }
  .input{
    display: flex;
    gap: 15px;
  }
  .form .message {
    margin: 15px 0 0;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-family: "ff-cocon-pro", sans-serif;
  }
  .form .message a {
    color: #FFD400;
    text-decoration: none;
  }
  #birthday{
    color: #757575;
    width: 268px;
    
}
@media  (max-width: 1024px) {
  .container-login{
    height: 115vh;
  }
}
@media  (max-width: 768px) {
  /* retire icon calendrier */
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
  .login-page{
    left: 27vw;
  }
  .back-login{
    left: -28%;
  }
}
@media  (max-width: 425px) {
  .login-page{
    left: 7vw;
    top: 2%;
  }
  .form{
    padding: 10px;
  }
  .login-page .form a img {
    width: 40vw;
  }
  #birthday{
    width: 175px;
  }
  .back-login{
    left: -45%;
  }
}
@media  (max-width: 375px) {
  .login-page{
    left: 3vw;
  }
  .back-login{
    left: -50%;
  }
}

@media (max-width: 320px){
  .login-page{
    left: -1vw;
  }
  #birthday{
    height: 57px;
  }
}