p {
    font-family: "ff-cocon-pro", sans-serif;
    width: 100%;
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: white;
}
h1 {
    color: #FFD400;
    margin: 0 0 15px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "ff-cocon-pro", sans-serif;
    text-transform: uppercase;
  }

  
.partenaires {
    bottom: 36vw;
}
.container-login{
height: 130vw;
}
main {
    top: -28vw;
}
@media (max-width: 425px){
.login-page {
    left: 9vw !important;
 }
}