main{
    top: -93vw !important;
}
.container-nav{
    height: 112vw !important;
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.search-form .form-group {
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    justify-content: center;
}
.search-form button{
    display: flex;
    margin: auto;
    margin-top: 2vw;
}
.css-input-soirees {
    font-size: 1.2rem;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    width: 35vw;
    height: 8vh;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.css-input-soirees:focus {
    outline:none;
}

#participant,
#theme{
    margin-left: 10px;
}
#theme{
    margin-bottom: 20px;
}
.form-group select {
    border-radius: 8px;
}
.container-soirees {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: -25vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.card-soirees {
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: linear-gradient(360deg, rgba(217,3,104,1) 0%, rgba(255,212,0,1) 100%);
    padding: 10px;
    margin: 10px;
    align-items: right;
    color: #EADEDA;
}
.button-container {
    text-align: center;
  }
  
.button-soirees {
background-color: #8D175D;
cursor: pointer;
border: none;
border-radius: 8px;
padding: 5px 15px;
font-size: 1.1rem;
margin-top: 10px;
margin-right: 10px;
color: #FFFFFF;
font-weight: bold;
font-family: "brevia", sans-serif;
display: inline-block;
}
.col-lg-4 {
    flex: 0 0 30%;
    max-width: 30%;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
h2 {
    color: #820263;
    display: flex;
    align-items: right;
    justify-content: right;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "brevia", sans-serif;

}
.form-group {
    gap: 3vw;
}
#form-search{
    margin-bottom: 3vw;
}
.form-group #title-theme {
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: "brevia", sans-serif;
    font-weight: bold;
  }
  .form-group #title-theme:hover{
    color: #FFD400;
  }
.theme-container {
    margin-bottom: 5vw;
    width: 90vw;
    padding-bottom: 50px;
    padding-left: 30px;
    background: linear-gradient(90deg, rgba(46,41,78,1) 0%, rgba(141,23,93,1) 100%);
    position: relative;
    z-index: 10;
}

.theme-card {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.theme-card h1,
.soirees-container h1 {
    color: #FFFFFF;
}
/* 
.soirees-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.soiree {
    width: 300px;
    padding: 10px;
    background: #EADEDA;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #0000009C;
}

.soiree img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.button-slide {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.horizontal-list {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.horizontal-list li {
    list-style: none;
}

.avatar-test {
    width: 40px;
    height: 40px;
    border-radius: 50%;
} */

.theme-container.right {
    position: relative;
    left: 10vw;
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
}
.theme-container.left{
    border-bottom-right-radius: 70px;
    border-top-right-radius: 70px;
}
.theme-card.right{
    display: flex;
    justify-content: flex-end;
    padding-right: 3vw;
}
.theme-card.left{
    display: flex;
    justify-content: start;
}
.min-h-screen.bg-gray-100{
    height: 35vw;
}

@media (max-width: 992px) {
    .col-lg-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-6 {
        flex: 0 0 100%;
    }
}
@media  (max-width: 1024px) {
    .form-group #title-theme {
        font-size: 1.3rem;
    }
    .theme-color{
        margin-top: 0 !important;
    }
    
}
@media (max-width: 425px){
    #navbar-mobile {
        top: -315vw;
    }    
    .search-form .form-group {
        flex-direction: column;
    }
    .css-input-soirees {
        width: auto;
    }
    main {
        top: -308vw !important;
    }
    .container-nav{
        height: 313vw !important;
    }
    .theme-card h1 {
        font-size: 1.5rem;
    }
    .theme-container{
        background: transparent;
        width: auto;
        padding-left: 0;
    }
    .theme-container.right {
        left: auto;
    }
    .theme-card h1, .soirees-container h1{
        color: #FFD400;
    }
}
