main{
    top: 8vw !important;   
   }
   .container-nav{
       display: none;
   }
   #navbar.transparent{
       background: linear-gradient(90deg, rgba(65, 37, 81, 1) 0%, rgba(119, 28, 90, 1) 100%) !important;
   }
   .bg-gray-100{
       background-color: transparent;
   }
   @media  (max-width: 768px) {
    #navbar-mobile{
        top: 0 !important;
    }
    nav {
        background-color: #2E294E;
    }
    
}